/* Some overrides from default bootstrap styles */

h1,h2,h3,h4,h5,h6{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
}
h4 {
	font-size: 20px;
}
a {
	color: #00a3e0;
}
a:hover, a:focus {
  text-decoration: none;
}

/* COMPONENTS */

/* labels */
.label, .badge {
	font-weight: lighter;
	font-size: 90%;
}
.label-success, .badge-success {
	background-color: rgb(129, 189, 130);
}
.label-info, .badge-info {
	background-color: rgb(104, 163, 213);
}

/* code*/
code {
	color: rgb(78, 153, 223);
}

/* HTML ELEMENTS */
input[type="text"],
input[type="password"],
textarea {
	font-size: 13px;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075);
}
.inline-input input[type="text"],
.inline-input input[type="password"],
input[type="text"].inline-input,
input[type="password"].inline-input {
	background: #fff;
	border: 0;
	border-bottom: 1px solid #dee3ea;
	border-radius: 0;
	box-shadow: none;
}
.inline-input input[type="text"]:focus,
.inline-input input[type="password"]:focus,
input[type="text"].inline-input:focus,
input[type="password"].inline-input:focus {
	box-shadow: none;
	border-color: #5d6a80;
}
.inline-input input[type="text"]:hover,
.inline-input input[type="password"]:hover,
input[type="text"].inline-input:hover,
input[type="password"].inline-input:hover {
	border-color: #959fb0;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus{
	border-color: #A2CEF0;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(82, 168, 236, 0.6);
}
input[type="reset"]{
	text-transform: uppercase;
	border:0 none;
	background: none;
	text-decoration: underline;
	font-size: 12px;
}
textarea{
	background: #fff;
	border-color: #dee3ea;
}
select{
	margin: 0;
	height: 24px;
	border-color: #d0dde9;
	border-radius: 2px;
	font-size: 13px;
}
input[type="file"] {
	font-size: 12px;
	line-height: 12px;
	display: inline-block;
}

input[disabled], textarea[disabled], input[readonly], textarea[readonly] {
	color: rgb(177, 177, 177);
}
/* native placeholders */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #9ba0a5;
  font-size: 13px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #9ba0a5;
  font-size: 12px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9ba0a5;
  font-size: 12px;
}


/* PREPEND & APPEND INPUT */
.input-group input,
.input-group input,
.input-group .uneditable-input,
.input-group .uneditable-input {
	border: 1px solid #d6e2eb;
}
.input-group .input-group-addon {
	background-color: #f2f5f9;
	border: 1px solid #d6e2eb;
	padding: 4px 8px;
	font-size: 13px;
}

/* NAVBAR */
.navbar-inverse {
	min-height: 48px;
	margin-bottom: 0;
}
/* navbar-nav*/
.navbar-inverse .navbar-nav {
	padding-right: 20px;
}
/* navbar brand*/
.navbar-inverse .navbar-brand {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: lighter;
	padding: 11px 20px;
}
.navbar-inverse .navbar-brand strong {
	font-weight: normal;
}
/* navbar links */
.navbar-inverse .nav > li > a {
	padding: 13px 15px 8px;
	border-left: 1px solid #101417;
	color: rgb(214, 214, 214);
	outline: 0;
	height: 46px;
	transition: background .1s linear;
}
.navbar-inverse .nav > li > a:hover {
	background: rgba(25, 31, 36,0.6);
}
/* dropdown caret */
.dropdown .caret {
	position: relative;
	top: -1px;
}
/* dropdown active */
.dropdown.open > a,
.dropdown.open > a:hover,
.dropdown.open > a:focus {
	border-color: #101417;
}
/* dropdown menu */
.dropdown-menu > li > a {
	font-size: 13px;
	outline: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	background: rgb(60, 91, 121) !important;
}


/* PAGINATION */
.pagination > li > a, .pagination > li > span {
	font-weight: 600;
}
.pagination.inverse a,
.pagination.inverse span {
	background-color: #333e4a;
	color: #fff;
	border-top-color: #333e4a;
	border-bottom-color: #333e4a;
	border-right-color: #566676;
	border-left-color: #566676;
}
.pagination.inverse a:hover,
.pagination.inverse span:hover {
	background-color: #000;
}
.pagination.inverse > li.active > a {
	color: #3b9ff3;
	background-color: #212b36;
	border-right-color: #212b36;
	border-left-color: #212b36;
}

/* TABLES*/
.dataTables_wrapper {
	overflow-x: scroll;
	margin: 0 8px;
}

@media (min-width: 769px) and (min-device-width: 769px) {
	.dataTables_wrapper {
		margin: 0;
	}
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5fafc;
}
.table th.sortable {
	cursor: pointer;
}
.table th.sortable:hover {
	text-decoration: underline;
}

.table thead th {
	text-align: center;
	background-color: #fff;
	border-right: 1px solid #d8d8d8;
	position: relative;
	padding: 20px 16px !important;
	text-transform: uppercase;
	font-size: 10px;
	border-bottom: 0 !important;
}

.table thead th:first-child {
	border-radius: 6px 0 0 0;
}

.table thead th:last-child {
	border: 0;
	border-radius: 0 6px 0 0;
}

.table td {
	border: 0 !important;
	border-right: 1px solid #d8d8d8 !important;
	color: #323435;
	font-size: 13px;
	vertical-align: middle !important;
	padding: 20px 8px !important;
	text-align: center;
}

.table td:last-child {
	border: 0;
}

.table th.align-right,
.table td.align-right {
	text-align: right;
	padding-right: 10px !important;
}
table tr.first td{
	border-top: 0 none;
}

/* modals */
.modal-footer {
	border: 0;
}

.modal-backdrop.in {
	opacity: 0.5 !important;
}


/* override navbar toggle */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block !important;
  }
}


